<h1><%= @article.title %></h1>

<p> <%= @article.body %> </h1>


<ul>
<li>
<%= link_to "Edit", edit_article_path(@article) %>
</li>
<li>
<%= link_to "Back", root_path %>
</li>
<li>
<%= link_to "Delete", article_path(@article), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
    } %>
    </li>
    </ul>

<% if @article.comments.present? %>
    <h2> Comments: </h2>
<% end %>

    <% @article.comments.each do |comment| %>
       <p> <strong>Commenter:</strong><%= comment.commenter %></p>
       <p> <strong>Comment:</strong><%= comment.body %></p>
    <% end %>

<% if @article.comments.present? %>
<h2> Add a comment </h2>
<% else %>
<h2>Be the first to comment: </h2>
<% end %>

<%= form_with model: [ @article, @article.comments.build ] do |form| %>

    <div>
        <%= form.label :commenter %> <br>
        <%= form.text_field :commenter %>
    </div>
    <div>
        <%= form.label :body %> <br>
        <%= form.text_field :body %>
    </div>

    <div>
        <%= form.submit %>
    </div>

<% end %>